<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DataDrivenBasics">

<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      <listener class-name="com.w2a.listeners.CustomListeners"/>
  
  </listeners>
  
  <test name="LoginTest">
    <classes>
      <class name="com.w2a.testCases.LoginTest"/>
      
    </classes>
  </test> <!-- Test -->
  <test name="Add Customer test">
    <classes>
      
      <class name="com.w2a.testCases.AddingUsersTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

